@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@model DetailsGroupModel
@{
    ViewBag.Title = $"{Model.Name} Details";
    Layout = "_GroupDetailsLayout";

    ViewBag.GroupId = Model.Id;

    var viewModel = new EditGroupViewModel()
            {
                Icon = Model.Icon,
                Name = Model.Name,
                UsersIds = Model.Users.Select(u => u.Id).ToList(),
            };
}

<div>
    <div style="display: flex; justify-content: inherit;">
        <div class="left-section">
            <div class="row mb-2">
                <div class="col-md-6 m-0">
                    <a asp-action="Edit"
                       asp-route-groupId="@Model.Id"
                       asp-route-icon="@viewModel.Icon"
                       asp-route-name="@viewModel.Name"
                       asp-route-userIds="@string.Join(",", viewModel.UsersIds)"
                       id="editGroupButton" class="button add-user-button">
                        Edit Group
                    </a>
                </div>
                <div class="col-md-6 m-0">
                    <button id="leaveGroupButton" class="button leave-group-button">Leave</button>
                </div>
            </div>
            <div class="line"></div>

            <div class="row mt-2">
                <partial name="_CharPartial" model="@Model.Chat.Messages" />
            </div>
        </div>

        <div class="right-section">
            <div class="center-container">
                <h2>@Model.Name Watchlist</h2>
            </div>
            <partial name="_MoviesPartial" model="Model.Watchlist" />
        </div>
    </div>
</div>
<input type="text" id="groupId" value="@Model.Id" style="display: none" />

@section scripts {
    <script>
        var sendMessageUrl = '@Url.Action("SendMessage", "Group")';
        var leaveGroupUrl = '@Url.Action("LeaveGroup", "Group")';
        var EditGroupUrl = '@Url.Action("Edit", "Group")';

        var csrfToken = '@Antiforgery.GetAndStoreTokens(Context).RequestToken';
    </script>

    <script>
        document.getElementById("leaveGroupButton").addEventListener("click", function () {
            var groupInput = document.getElementById("groupId");
            var groupId = groupInput.value.trim();

            $.ajax({
                type: 'POST',
                url: leaveGroupUrl,
                headers: {
                    'RequestVerificationToken': csrfToken
                },
                data: {
                    groupId: groupId,
                }, success: function (data) {

                    window.location.href = data.redirectUrl;
                },

            });
        });
    </script>
}
