@using System.Security.Claims
@model DetailsGroupModel
@{
    ViewBag.Title = $"{Model.Name} Details";
    Layout = "_GroupDetailsLayout";

    var viewModel = new EditGroupViewModel()
    {
        Icon = @Model.Icon,
        Name = @Model.Name,
        UsersIds = @Model.Users.Select(u => u.Id).ToList(),
    };
}

<style>

    .left-section {
        width: 22%;
        box-sizing: border-box;
        border-right: 1px solid #ccc;
        margin-left: 2%;
        padding: 1% 2% 2% 0%;
    }

    .right-section {
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
    }

    .chat-box {
        height: 415px;
        border: 1px solid #ccc;
        padding: 10px;
        overflow-y: auto;
        background-color: #f2f2f2;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .message {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }

        .message.sender {
            background-color: #f1f1f1;
            flex-direction: column;
            align-items: flex-end;
        }

        .message.receiver {
            background-color: #d9f7ff;
            flex-direction: column;
            align-items: flex-start;
        }

        .message p {
            margin: 0;
            font-size: 12px;
        }

        .message .content {
            background-color: #4CAF50;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
        }


    #messageInput {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        margin-bottom: 5px;
    }

    #sendMessageButton {
        border: none;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

        #sendMessageButton:disabled {
            background-color: #ccc;
            cursor: auto;
        }


    .line {
        height: 1px;
        background-color: #ccc;
        width: 120%;
        margin-left: -10%;
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }

        .button:hover {
            background-color: #45a049;
        }

    .add-user-button {
        background-color: #2196F3;
    }

        .add-user-button:hover {
            background-color: #0c7cd5;
        }

    .leave-group-button {
        background-color: #FF5722;
    }

        .leave-group-button:hover {
            background-color: #d8461d;
        }
</style>

<div>
    <div style="display: flex; justify-content: inherit;">
        <div class="left-section">
            <div class="row mb-2">
                <div class="col-md-6 m-0">
                    <a asp-action="Edit" asp-controller="Group"
                       asp-route-icon="@viewModel.Icon" asp-route-name="@viewModel.Name"
                       asp-route-userIds="@string.Join(",", viewModel.UsersIds)">
                        <button id="editGroupButton" class="button add-user-button">Edit Group</button>
                    </a>
                </div>
                <div class="col-md-6 m-0">
                    <button id="leaveGroupButton" class="button leave-group-button">Leave</button>
                </div>
            </div>
            <div class="line"></div>

            <div class="row mt-2">
                <div class="chat-box" id="chatBox">
                    @foreach (var message in Model.Chat.Messages)
                    {
                        TimeZoneInfo localTimeZone = TimeZoneInfo.Local;
                        DateTime localTime = TimeZoneInfo.ConvertTimeFromUtc(message.SendAt, localTimeZone);
                        <div class="message @(User.FindFirstValue(ClaimTypes.NameIdentifier) == message.SenderId ? "sender" : "receiver")">
                            <p><strong style="color: #4caf50; font-size: 20px">@message.SenderName</strong> @localTime.ToString("dd.MM.yyyy HH:mm")</p>
                            <div class="message-content">
                                <div>
                                    <div class="content">@message.Content</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <input type="text" id="messageInput" class="mt-2 mb-2" placeholder="Enter message..." />
                <button id="sendMessageButton" disabled>Send</button>
            </div>
        </div>

        <div class="right-section">
            <div class="center-container">
                <h2>Group Watchlist</h2>
            </div>
            <partial name="_MoviesPartial" model="Model.Watchlist" />
        </div>
    </div>
</div>
<input type="hidden" id="groupId" value="@Model.Id" />

@section scripts {
    <script>
        var sendMessageUrl = '@Url.Action("SendMessage", "Group")';
        var leaveGroupUrl = '@Url.Action("LeaveGroup", "Group")';
        var EditGroupUrl = '@Url.Action("Edit", "Group")';
    </script>
    <script src="~/js/chat.js"></script>
}
