@model CreateEditGroupViewModel
@{
    ViewBag.Title = "Edit Group";
}

<h2>Edit Group: @Model.GroupData.Name</h2>

<form id="editGroupForm" asp-action="Edit" asp-controller="Group" method="post">
    <div class="form-group">
        <label for="Name">Group Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.GroupData.Name" required>
    </div>

    <div class="form-group">
        <label for="Icon">Select Icon</label>
        <input type="hidden" id="currentIcon" value="@Model.GroupData.Icon">
        <select class="form-control iconSelector" id="Icon" name="Icon" value="@Model.GroupData.Icon">
            @foreach (var icon in Model.Icons)
            {
                <option value="@icon.IconText">@icon.IconText @icon.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="Users">Select Users</label>
        <input type="text" class="form-control" id="UserSearch" placeholder="Enter a username">
        <div id="usersSection" style="display: none" >
            @foreach (var user in Model.AllUsers)
            {
                var isSelected = Model.GroupData.UsersIds.Contains(user.Id);
                <label>
                    <input type="checkbox" name="UsersIds" value="@user.Id" data-id="@user.Id" @(isSelected ? "checked" : "") autocomplete="off">
                    @user.Username
                </label>
            }
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-2" id="editGroupButton" disabled>Edit Group</button>

    <input type="hidden" id="groupId" name="groupId" value="@Model.Id">

    <input type="hidden" id="UserList" name="UsersIds" data-users="@Html.Raw(Json.Serialize(Model.GroupData.UsersIds))">
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/editGroup.js" asp-append-version="true"></script>
}