@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@using FilmIdea.Web.Infrastructure.Extensions

@model List<FilmIdea.Web.ViewModels.Message.MessageViewModel>

<div id="groupDetails" data-groupId="@ViewBag.GroupId" data-username="@User.GetName()" display="none"></div>
<div class="chat-box" id="chatBox">
    @foreach (var message in Model)
    {
        <div class="div-message message @(User.GetId() == message.SenderId ? "sender" : "receiver")">
            <p class="hidden">@message.SendAt.ToString("dd.MM.yyyy HH:mm")</p>
            <strong class="chat-username">@message.SenderName</strong>
            <div class="message-content-@(User.FindFirstValue(ClaimTypes.NameIdentifier) == message.SenderId ? "sender" : "receiver")">
                    <div class="content">@message.Content</div>
            </div>
        </div>
    }
</div>
<input type="text" id="messageInput" class="mt-2 mb-2" placeholder="Enter message..." />
<button id="sendMessageButton" disabled>Send</button>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
