@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@model List<MovieViewModel>
<style>
    .movie-card .btn-hide {
        opacity: 0;
    }

    .movie-card:hover .btn-hide {
        opacity: 1;
    }
</style>

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-3 mb-4 movie-card" style="width: 255px;">
            <div class="card position-relative h-100 border-0">
                <div style="position: relative; height: 100%;">
                    <a href="@Url.Action("Details", "Movie", new { movieId = movie.Id })">
                        <img src="@movie.CoverPhotoUrl" class="card-img-top" style="height: 355px" alt="@movie.Title">
                    </a>
                    <button class="btn-hide btn btn-secondary btn-sm position-absolute bottom-0 mt-0 ms-0 duration-button" style="right: 0;background-color: #5454548a; border: none" disabled>
                        @{
                            var totalMinutes = movie.Duration;
                            var hours = $"{totalMinutes / 60}h";
                            var minutes = $"{totalMinutes % 60}m";
                        }
                        @hours @minutes
                    </button>
                </div>
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    @if (movie.HasMovieInWatchlist)
                    {
                        <button class="btn btn-secondary btn-sm added-button position-absolute top-0 start-0 mt-0 ms-0" style="background-color: #00dc89;" data-movie="@movie.Id">
                            ✔
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-secondary btn-sm watchlist-button position-absolute top-0 start-0 mt-0 ms-0" style="color: aliceblue" data-movie="@movie.Id">
                            ➕
                        </button>
                    }
                    <button class="btn btn-primary btn-sm position-absolute top-0 start-0 mt-5 ms-0 rate-button" data-toggle="modal" data-target="#rateModal" data-movie="@movie.Id">
                        @if (movie.UserRating > 0)
                        {
                            <span>★ @movie.UserRating/10</span>
                        }
                        else
                        {
                            <span>✰</span>
                        }
                    </button>
                }
                <div class="card-body card-footer" style="display: none;">
                    <p class="card-font"><strong>⭐</strong> @movie.Rating</p>
                    <h6 class="card-title"><strong>@movie.Title (@movie.ReleaseYear)</strong></h6>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="rateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rateModalLabel">Rate Movie</h5>
                <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ratingForm">
                    <input type="hidden" id="movieId" name="movieId" value="" />
                    <div class="form-group">
                        <label for="ratingValue">Rating:</label>
                        <select class="form-control" id="ratingValue" name="ratingValue" required>
                            <option value="">Select Rating</option>
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitRating">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    var addToUserWatchlistUrl = '@Url.Action("AddToUserWatchlist", "Movie")';
    var removeFromUserWatchlistUrl = '@Url.Action("RemoveFromUserWatchlist", "Movie")';
    var addRatingUrl = '@Url.Action("AddRating", "Movie")';
    
    var csrfToken = '@Antiforgery.GetAndStoreTokens(Context).RequestToken';
    $(".movie-card").hover(
        function () {
            $(this).find(".card-footer").fadeIn(200);
        },
        function () {
            $(this).find(".card-footer").fadeOut(200);
        }
    );
</script>
<script src="~/js/WatchlistAndRating.js"></script>
