@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AllMoviesViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Full list of Movies";

    var movies = Model.TopMovies.ToList();
}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < movies.Count(); i++)
        {
            var movie = movies[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                     src="@movie.PictureUrl" alt="@movie.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Movie" asp-action="Details"
                           asp-route-movieId="@movie.Id">@movie.Title</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="m-5 center-container">
    <h3>All Movies</h3>
</div>

<div class="row">
    @foreach (var movie in Model.Movies)
    {
        <div class="col-md-4 mb-4">
            <div class="card position-relative">
                <a href="@Url.Action("Details", "Movie", new { movieId = movie.Id })">
                    <img src="@movie.CoverPhotoUrl" class="card-img-top" alt="@movie.Title">
                </a>
                <button class="btn btn-secondary btn-sm watchlist-button position-absolute top-0 start-0 mt-0 ms-0" data-movie="@movie.Id">
                    <i class="fas fa-plus"></i>➕
                </button>
                <button class="btn btn-primary btn-sm position-absolute top-0 start-0 mt-5 ms-0 rate-button" data-toggle="modal" data-target="#rateModal" data-movie="@movie.Id">
                    @if (movie.UserRating > 0)
                    {
                        <span>★ @movie.UserRating/10</span>
                    }
                    else
                    {
                        <span>✰</span>
                    }
                </button>
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text"><strong>Release Year:</strong> @movie.ReleaseYear</p>
                    <p class="card-text"><strong>Duration:</strong> @movie.Duration</p>
                    <p class="card-text">
                        <strong>Director:</strong>
                        <a class="" asp-area="" asp-controller="Director" asp-action="Details" asp-route-actorId="@movie.Director.Id">@movie.Director.Name</a>
                    </p>
                    <p class="card-text">
                        <strong>Actors:</strong>
                        @foreach (var actor in @movie.Actors)
                        {
                            <a class="" asp-area="" asp-controller="Actor" asp-action="Details" asp-route-actorId="@actor.Id">@actor.Name</a>
                        }
                    </p>
                    <p class="card-text"><strong>Rating:</strong> @movie.Rating</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-secondary btn-sm watchlist-button" data-movie="@movie.Id">
                        <i class="fas fa-plus"></i> + Watchlist
                    </a>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="rateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rateModalLabel">Rate Movie</h5>
                <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="ratingForm">
                    <input type="hidden" id="movieId" name="movieId" value="" />
                    <div class="form-group">
                        <label for="ratingValue">Rating:</label>
                        <select class="form-control" id="ratingValue" name="ratingValue" required>
                            <option value="">Select Rating</option>
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitRating">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        $(document).ready(function () {
            $('.rate-button').on('click', function (e) {
                e.preventDefault();
                var movieId = $(this).data('movie');
                var ratingButton = $(this);

                $('#rateModal').modal('show');

                $('#movieId').val(movieId);
            });

            $('.watchlist-button').on('click', function (e) {
                e.preventDefault();
                var movieId = $(this).data('movie');
                alert("Added movie with ID " + movieId + " to your watchlist!");
            });

            $('#submitRating').on('click', function (e) {
                e.preventDefault();
                var ratingValue = $('#ratingValue').val();
                var movieId = $('#movieId').val();

                $.post('@Url.Action("AddRating", "Movie")', {
                    movieId: movieId,
                    ratingValue: ratingValue,
                })
                    .done(function (data) {
                        var ratingButton = $('.rate-button[data-movie="' + movieId + '"]');
                        ratingButton.html('<span>★ ' + ratingValue + '/10</span>');
                        $('#rateModal').modal('hide');
                    })
                    .fail(function (error) {
                        alert(error.message);
                    });
            });

            $('#closeModal').on('click', function (e) {
                
                $('#rateModal').modal('hide');
            });
        });
    </script>
}
