@using FilmIdea.Services.Data.Interfaces
@using FilmIdea.Web.Infrastructure.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject ICriticService CriticService
@inject IMovieService MovieService
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@model MovieAndReviewViewModel
@{
    ViewBag.Title = Model.MovieDetails.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userId = User.GetId();
    var isCritic = await CriticService.CriticExistByUserIdAsync(userId);
    var criticId = await CriticService.GetCriticIdAsync(userId!);
    var totalMinutes = Model.MovieDetails.Duration;
    var hours = $"{totalMinutes / 60}h";
    var minutes = $"{totalMinutes % 60}m";
    var isAdminStr = User.IsAdmin() ? "admin" : "not";

    var serializedPhotos = Json.Serialize(Model.MovieDetails.Photos);
    var serializedVideos = Json.Serialize(Model.MovieDetails.Videos);
}

<div class="container actor-details">
    <div class="d-flex justify-content-end">

        @if (User.IsAdmin())
        {
            <div class="d-flex justify-content-between">
                <button class="btn btn-warning" style="height: 41.5px;margin-right: 4px">
                    <a asp-area="Admin" asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.MovieDetails.Id" style="text-decoration: none;color: black">Edit</a>
                </button>
                <form class="input-group-sm" asp-area="Admin" asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.MovieDetails.Id">
                    <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-3 p-2" />
                </form>
            </div>
        }
    </div>
    <h2 class="actor-name" style="justify-content: start; display: flex;">@Model.MovieDetails.Title</h2>
    <div class="d-flex justify-content-between">
        <span class="actor-birthdate">@Model.MovieDetails.ReleaseYear · @hours @minutes</span>

        <div class="d-flex justify-content-end">
            <span style="font-size: 20px; margin-right: 20px">
                @{
                    double rating = Convert.ToDouble(Model.MovieDetails.Rating);

                    string formattedRating = (Math.Abs(rating - Math.Round(rating, 2)) > 0.001) ? rating.ToString("N1") : rating.ToString("N0");
                }
                FILMIDEA RATING: @formattedRating/10⭐
            </span>
            @if (Model.MovieDetails.UserRating > 0)
            {
                <span style="font-size: 20px;">YOUR RATING: @Model.MovieDetails.UserRating/10⭐</span>
            }
            else
            {
                <span style="font-size: 20px;">YOUR RATING: ✰</span>
            }
        </div>

    </div>

    <div class="row">
        <div class="col-md-3" style="padding-right: 4px;">
            <div class="actor-profile">
                <img src="@Model.MovieDetails.CoverImageUrl" alt="@Model.MovieDetails.Title" class="actor-image" />
            </div>
        </div>
        <div class="col-md-6" style="padding: 0; width: 54%;">
            <div class="embed-responsive embed-responsive-16by9" style="height: 93%;">
                <iframe class="embed-responsive-item" style="width: 100%; height: 100%;" src="@Model.MovieDetails.TrailerUrl" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"
                        title="@Model.MovieDetails.Title">
                    >
                </iframe>
            </div>
        </div>
        <div class="col-md-2" style="padding-left: 4px; width: 21%;">
            @if (Model.MovieDetails.Photos.Count > 0)
            {
                <a asp-area="" asp-controller="Photo" asp-action="All" asp-route-serializedPhotos="@serializedPhotos" class="content-button-link">
                    <div class="content-button">
                        <i class="fa-regular fa-images"></i>
                        @if (Model.MovieDetails.Photos.Count == 1)
                        {
                            <p>1 Photo</p>
                        }
                        else if (Model.MovieDetails.Photos.Count <= 99)
                        {
                            <p>@Model.MovieDetails.Photos.Count Photos</p>
                        }
                        else
                        {
                            <p>99+ Photos</p>
                        }
                    </div>
                </a>
            }
            else

            {
                <div class="content-button">
                    <i class="fa-regular fa-eye-slash"></i>
                    <p>0 Photos</p>
                </div>
            }
            @if (Model.MovieDetails.Videos.Count > 0)
            {
                <a asp-area="" asp-controller="Video" asp-action="All" asp-route-serializedVideos="@serializedVideos" class="content-button-link">
                    <div class="content-button">
                        <i class="fa-solid fa-film"></i>
                        @if (Model.MovieDetails.Videos.Count == 1)
                        {
                            <p>1 Video</p>
                        }
                        else if (Model.MovieDetails.Videos.Count <= 99)
                        {
                            <p>@Model.MovieDetails.Videos.Count Videos</p>
                        }
                        else
                        {
                            <p>99+ Videos</p>
                        }
                    </div>
                </a>
            }
            else
            {
                <div class="content-button">
                    <i class="fa-regular fa-eye-slash"></i>
                    <p>0 Videos</p>
                </div>
            }
        </div>
    </div>
</div>
@if (User.IsAdmin())
{
    <div class="d-flex justify-content-end">
        <button id="addPhotoBtn" class="btn btn-primary" style="margin-right: 10px;">Add Photo</button>
        <button id="addVideoBtn" class="btn btn-primary">Add Video</button>
    </div>
    <div class=" d-flex justify-content-end">
        <form id="addPhoto" asp-area="Admin" asp-controller="Movie" asp-action="AddPhoto" method="post" enctype="multipart/form-data" class="w-50 hidden">
            <div class="form-group">
                <div class="mb-3">
                    <label a>Image</label>
                    <input class="form-control" type="file" name="photo" accept="image/*" />
                </div>
            </div>
            <input type="hidden" name="movieId" value="@Model.MovieDetails.Id" />

            <input class="btn btn-primary mt-3" type="submit" value="Submit" />
        </form>
    </div>
    <div class=" d-flex justify-content-end">

        <form id="addVideo" asp-area="Admin" asp-controller="Movie" asp-action="AddVideo" method="post" enctype="multipart/form-data" class="w-50 hidden">
            <div class="form-group">
                <div class="mb-3">
                    <label a>Video</label>
                    <input class="form-control" type="file" name="video" accept="video/*" />
                </div>
            </div>
            <input type="hidden" name="movieId" value="@Model.MovieDetails.Id" />
            <input class="btn btn-primary mt-3" type="submit" value="Submit" />
        </form>
    </div>
}
<div class="row">
    <div class="actor-bio">
        <h3 class="title">Biography</h3>
        <p>
            @if (Model.MovieDetails.Description.Length < 600)
            {
                @Model.MovieDetails.Description
            }
            else
            {
                @Model.MovieDetails.Description.Substring(0, 500)
                <button id="showMore" class="btn btn-link show-more-btn">...Show More</button>
                <span id="bioMore" style="display: none;">@Model.MovieDetails.Description.Substring(500)</span>
            }
        </p>
        <button id="showLess" class="btn btn-link" style="display: none;">Show Less</button>
    </div>
</div>
<hr />
<div class="d-flex justify-content-between">
    <div>
        @foreach (var genre in Model.MovieDetails.Genres)
        {
            <button class="btn-login rounded-pill" style="width: 163px;height: 29px;">
                <a class="nav-link text-white login-btn" style="padding-top: 0;padding-bottom: 10px;" asp-area="" asp-controller="Movie" asp-action="ByGenre" asp-route-genreId="@genre.Id"><strong style="color: black !important; font-size: 17px">@genre.Name</strong></a>
            </button>
        }
    </div>
    @if (User.IsAdmin())
    {
        <div>
            <a asp-area="Admin" asp-controller="Movie" asp-action="EditGenresForMovie" asp-route-movieId="@Model.MovieDetails.Id" class="btn btn-success">Edit Genres</a>
        </div>
    }
</div>
<hr />
<div class="row">
    <p>Director: <a style="text-decoration: none" asp-area="" asp-controller="Director" asp-action="Details" asp-route-directorId="@Model.MovieDetails.Director.Id">@Model.MovieDetails.Director.Name</a></p>
</div>
<hr />
<div class="row">
    <div class="d-flex justify-content-between">
        <div>
            <p>
                Actors:
                @foreach (var actor in Model.MovieDetails.Actors.Take(3))
                {
                    <a style="text-decoration: none" asp-area="" asp-controller="Actor" asp-action="Details" asp-route-actorId="@actor.Id">@actor.Name</a>
                    @if (!actor.Equals(Model.MovieDetails.Actors.Take(3).Last()))
                    {
                        <span> · </span>
                    }
                }
            </p>
        </div>
        @if (User.IsAdmin())
        {
            <div>
                <a asp-area="Admin" asp-controller="Actor" asp-action="EditActorsForMovie" asp-route-movieId="@Model.MovieDetails.Id" class="btn btn-success">Edit Actors</a>
            </div>
        }
    </div>
</div>
<hr />

<div class="container mt-5">

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="d-flex justify-content-between" style="width: 80%;">
                <h3>Reviews</h3>
                @if (isCritic)
                {
                    <button id="addReviewButton" class="btn">
                        <strong style="color: #2776ff; font-size: 17px;">+ Review</strong>
                    </button>
                }
            </div>


            <div id="addReviewForm" style="display: none;">
                <form asp-action="AddReview" id="reviewForm" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="@Model.AddReview.Title" class="form-label-add-edit">Title</label>
                        <input type="text" asp-for="@Model.AddReview.Title" name="Title" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.AddReview.Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.AddReview.Rating" class="form-label-add-edit">Rating</label>
                        <input type="number" asp-for="@Model.AddReview.Rating" name="Rating" class="form-control" aria-required="true" />
                        <span asp-validation-for="@Model.AddReview.Rating" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.AddReview.Content" class="form-label-add-edit">Content</label>
                        <textarea asp-for="@Model.AddReview.Content" name="Content" class="form-control" aria-required="true" rows="3"></textarea>
                        <span asp-validation-for="@Model.AddReview.Content" class="text-danger"></span>
                    </div>
                    <input type="number" asp-for="@Model.MovieDetails.Id" name="movieId" style="display: none" />

                    <button type="submit" class="btn btn-primary mt-3 mb-3">Add Review</button>
                </form>
            </div>


            <div class="card-columns">
                @foreach (var review in Model.MovieDetails.Reviews)
                {

                    var isCriticOwner = await MovieService.IsCriticOwnerOfReviewAsync(criticId, review.Id);

                    <div class="review card mb-2" style="width: 80%">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="justify-content-start">
                                    <strong>
                                        <a asp-controller="Critic" asp-action="Details" asp-route-criticId="@review.CriticId" style="text-decoration: none; color: black">@review.CriticName</a>
                                    </strong> - @review.ReviewDate
                                </p>
                                @if (isCriticOwner)
                                {
                                    <button class="btn justify-content-end editReviewButton" data-review-id="@review.Id">Edit ✎</button>
                                }
                            </div>
                            <div class="editReviewForm" data-review-id="@review.Id"
                                 style="display: none;">
                                <form asp-action="EditReview" method="post">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="mb-3">
                                        <label asp-for="@Model.AddReview.Title" class="form-label-add-edit">Title</label>
                                        <input type="text" asp-for="@Model.AddReview.Title" name="Title" class="form-control" value="@review.Title" aria-required="true" />
                                        <span asp-validation-for="@Model.AddReview.Title" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="@Model.AddReview.Rating" class="form-label-add-edit">Rating</label>
                                        <input type="number" asp-for="@Model.AddReview.Rating" name="Rating" class="form-control" aria-required="true" value="@review.Rating" />
                                        <span asp-validation-for="@Model.AddReview.Rating" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="@Model.AddReview.Content" class="form-label-add-edit">Content</label>
                                        <textarea asp-for="@review.Content" name="Content" class="form-control" aria-required="true" rows="3"></textarea>
                                        <span asp-validation-for="@Model.AddReview.Content" class="text-danger"></span>
                                    </div>
                                    <input type="hidden" asp-for="@Model.MovieDetails.Id" name="movieId" />
                                    <input type="hidden" asp-for="@review.Id" name="ReviewId" />

                                    <button type="submit" class="btn btn-primary mt-3 mb-3">Edit</button>
                                </form>
                            </div>
                            <hr class="mt-1" />
                            <div class="d-flex justify-content-between">
                                <p class="card-title-font">@review.Title</p>
                                <p style="font-size: 20px">⭐ @review.Rating/10</p>
                            </div>
                            <p class="card-font">@review.Content</p>

                            <div class="d-flex">

                                @if (User.Identity!.IsAuthenticated)
                                {
                                    <div id="reviewId" data-review='@Html.Raw(review.Id)'></div>

                                    <p class="btn btn-reaction addLikeButton" data-review-id="@review.Id">👍</p>
                                    <span class="span-reaction likes" data-reviewid="@review.Id">@review.Likes</span>

                                    <p class="btn btn-reaction addDislikeButton" data-review-id="@review.Id">👎</p>
                                    <span class="span-reaction dislikes" data-reviewid="@review.Id">@review.Dislikes</span>

                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-sm btn-success addCommentButton" data-review-id="@review.Id">Add Comment</button>
                                    </div>

                                }

                                <div class=" d-flex justify-content-end">
                                    @if (isCriticOwner || User.IsAdmin())
                                    {
                                        <button class="btn btn-sm btn-danger deleteReviewButton" data-review-id="@review.Id">Delete</button>
                                    }
                                </div>
                            </div>

                            <div class="addCommentForm" data-review-id="@review.Id" style="display: none;">
                                <form asp-action="AddComment" method="post">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <input type="hidden" asp-for="@review.Id" name="ReviewId" />
                                    <input type="hidden" asp-for="@Model.MovieDetails.Id" name="movieId" />

                                    <div class="form-group">
                                        <label asp-for="@Model.AddComment.Content">Comment</label>
                                        <textarea class="form-control" name="Content" asp-for="@Model.AddComment.Content" rows="2"></textarea>
                                        <span asp-validation-for="@Model.AddComment.Content" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-sm mt-2">Submit Comment</button>
                                </form>
                            </div>

                            <div class="comments mt-3">
                                @foreach (var comment in review.Comments)
                                {
                                    var isUserOwner = await MovieService.IsUserOwnerOfCommentAsync(userId, comment.Id);
                                    <div class="comment card bg-light mb-2">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <p class="small mb-0 text-muted justify-content-start"><strong>@comment.WriterName</strong> - @comment.CommentDate</p>
                                                @if (isUserOwner)
                                                {
                                                    <button class="btn justify-content-end editCommentButton" data-comment-id="@comment.Id">Edit ✎</button>
                                                }
                                            </div>
                                            <div class="editCommentForm" data-comment-id="@comment.Id" style="display: none;">
                                                <form asp-action="EditComment" method="post">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                    <input type="hidden" asp-for="@comment.Id" name="CommentId" />
                                                    <input type="hidden" asp-for="@Model.MovieDetails.Id" name="MovieId" />


                                                    <div class="form-group">
                                                        <label asp-for="@comment.Content">Comment</label>
                                                        <textarea class="form-control" name="Content" asp-for="@comment.Content" rows="2"></textarea>
                                                        <span asp-validation-for="@Model.AddComment.Content" class="text-danger"></span>
                                                    </div>

                                                    <button type="submit" class="btn btn-primary btn-sm mt-2">Edit</button>
                                                </form>
                                            </div>
                                            <hr />
                                            <p class="card-text d-flex justify-content-start">@comment.Content</p>
                                            @if (isUserOwner || User.IsAdmin())
                                            {
                                                <div id="commentId" data-comment='@Html.Raw(comment.Id)'></div>
                                                <button type="submit" class="btn btn-danger d-flex justify-content-end] deleteCommentButton" data-comment-id="@comment.Id">Delete</button>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var addRemoveLike = '@Url.Action("AddRemoveLike", "Movie")';
        var addRemoveDislike = '@Url.Action("AddRemoveDislike", "Movie")';
        var removeReview = '@Url.Action("DeleteReview", "Movie")';
        var removeComment = '@Url.Action("DeleteComment", "Movie")';
        var isAdmin = '@User.IsAdmin()';

        var csrfToken = '@Antiforgery.GetAndStoreTokens(Context).RequestToken';
    </script>


    <script src="~/js/showHide.js" asp-append-version="true"></script>
    <script src="~/js/movieDetails.js" asp-append-version="true"></script>
}
