@model MovieAndReviewViewModel

@{
    ViewBag.Title = Model.MovieDetails.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*TODO:Edit view to look better*@
@*TODO:Edit Swipe View Add Link to details on movie*@
@*TODO:Edit comment date to be in current time add the whole view style to be like person view*@

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <img src="@Model.MovieDetails.CoverImageUrl" class="img-fluid rounded" alt="@Model.MovieDetails.Title">
        </div>
        <div class="col-md-9">
            <h2>@Model.MovieDetails.Title (@Model.MovieDetails.ReleaseYear)</h2>
            <p class="lead">Duration: @Model.MovieDetails.Duration</p>
            <p class="lead">Rating: @Model.MovieDetails.Rating</p>
            <p class="lead">User Rating: @Model.MovieDetails.UserRating</p>
            <a href="@Model.MovieDetails.TrailerUrl" target="_blank" class="btn btn-primary btn-sm">Watch Trailer</a>
            <button class="btn btn-secondary btn-sm watchlist-button" data-movie="@Model.MovieDetails.Id">
                <i class="fas fa-plus"></i> Add to Watchlist
            </button>
        </div>
    </div>

    <hr>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Description</h3>
            <p class="lead">@Model.MovieDetails.Description</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <h3>Directors</h3>
            <a class="" asp-area="" asp-controller="Director" asp-action="Details" asp-route-directorId="@Model.MovieDetails.Director.Id">@Model.MovieDetails.Director.Name</a>
        </div>
        <div class="col-md-4">
            <h3>Actors</h3>
            <ul class="list-unstyled">
                @foreach (var actor in Model.MovieDetails.Actors)
                {
                    <li><a class="" asp-area="" asp-controller="Actor" asp-action="Details" asp-route-actorId="@actor.Id">@actor.Name</a></li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Genres</h3>
            <ul class="list-unstyled">
                @foreach (var genre in Model.MovieDetails.Genres)
                {
                    <li><a class="" asp-area="" asp-controller="Movie" asp-action="ByGenre" asp-route-genreId="@genre.Id">@genre.Name</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="container mt-5">

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex justify-content-between" style="width: 80%;">
                    <h3>Reviews</h3>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <button id="addReviewButton" class="btn">
                            <strong style="color: #2776ff; font-size: 17px;">+ Review</strong>
                        </button>
                    }
                </div>


                <div id="addReviewForm" style="display: none;">
                    <form asp-action="AddReview" id="reviewForm" method="post">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mb-3">
                            <label asp-for="@Model.AddReview.Title" class="form-label-add-edit">Title</label>
                            <input type="text" asp-for="@Model.AddReview.Title" name="Title" class="form-control" aria-required="true" />
                            <span asp-validation-for="@Model.AddReview.Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.AddReview.Rating" class="form-label-add-edit">Rating</label>
                            <input type="number" asp-for="@Model.AddReview.Rating" name="Rating" class="form-control" aria-required="true" />
                            <span asp-validation-for="@Model.AddReview.Rating" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.AddReview.Content" class="form-label-add-edit">Content</label>
                            <textarea asp-for="@Model.AddReview.Content" name="Content" class="form-control" aria-required="true" rows="3"></textarea>
                            <span asp-validation-for="@Model.AddReview.Content" class="text-danger"></span>
                        </div>
                        <input type="number" asp-for="@Model.MovieDetails.Id" name="movieId" style="display: none" />

                        <button type="submit" class="btn btn-primary mt-3 mb-3">Add Review</button>
                    </form>
                </div>


                <div class="card-columns">
                    @foreach (var review in Model.MovieDetails.Reviews)
                    {
                        <div class="card mb-2" style="width: 80%">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <p class="justify-content-start"><strong>@review.CriticName</strong> - @review.ReviewDate</p>
                                    @if (User.Identity.IsAuthenticated && review.CriticId.ToLower() == ViewBag.CriticId)
                                    {
                                        <button class="btn justify-content-end" id="editReviewButton" data-review-id="@review.Id">Edit ✎</button>
                                    }
                                </div>
                                <div id="editReviewForm" style="display: none;">
                                    <form asp-action="EditReview" id="editReviewForm" method="post">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="mb-3">
                                            <label asp-for="@Model.AddReview.Title" class="form-label-add-edit">Title</label>
                                            <input type="text" asp-for="@Model.AddReview.Title" name="Title" class="form-control" value="@review.Title" aria-required="true" />
                                            <span asp-validation-for="@Model.AddReview.Title" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="@Model.AddReview.Rating" class="form-label-add-edit">Rating</label>
                                            <input type="number" asp-for="@Model.AddReview.Rating" name="Rating" class="form-control" aria-required="true" value="@review.Rating" />
                                            <span asp-validation-for="@Model.AddReview.Rating" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="@Model.AddReview.Content" class="form-label-add-edit">Content</label>
                                            <textarea asp-for="@review.Content" name="Content" class="form-control" aria-required="true" rows="3"></textarea>
                                            <span asp-validation-for="@Model.AddReview.Content" class="text-danger"></span>
                                        </div>
                                        <input type="hidden" asp-for="@Model.MovieDetails.Id" name="movieId" />
                                        <input type="hidden" asp-for="@review.Id" name="ReviewId" />

                                        <button type="submit" class="btn btn-primary mt-3 mb-3">Edit</button>
                                    </form>
                                </div>
                                <hr class="mt-1" />
                                <div class="d-flex justify-content-between">
                                    <p class="card-title-font">@review.Title</p>
                                    <p style="font-size: 20px">⭐ @review.Rating/10</p>
                                </div>
                                <p class="card-font">@review.Content</p>

                                <div class="d-flex">

                                    @if (User.Identity!.IsAuthenticated)
                                    {
                                        <div id="movieId" data-movie='@Html.Raw(@Model.MovieDetails.Id)'></div>
                                        <div id="reviewId" data-review='@Html.Raw(@review.Id)'></div>
                                        <button id="addLikeButton">👍</button>
                                        <p>@review.Likes</p>

                                        <button id="addDislikeButton">👎</button>
                                        <p>@review.Dislikes</p>

                                        <button class="btn btn-sm btn-success d-flex justify-content-end" id="addCommentButton" data-review-id="@review.Id">Add Comment</button>

                                    }

                                    <div class=" d-flex justify-content-end">
                                        @if (User.Identity.IsAuthenticated && review.CriticId.ToLower() == ViewBag.CriticId)
                                        {
                                            <button class="btn btn-sm btn-danger" id="deleteReviewButton" data-review-id="@review.Id">Delete</button>
                                        }
                                    </div>
                                </div>

                                <div id="addCommentForm" style="display: none;">
                                    <form asp-action="AddComment" method="post">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <input type="hidden" asp-for="@review.Id" name="ReviewId" />
                                        <input type="hidden" asp-for="@Model.MovieDetails.Id" name="movieId" />

                                        <div class="form-group">
                                            <label asp-for="@Model.AddComment.Content">Comment</label>
                                            <textarea class="form-control" name="Content" asp-for="@Model.AddComment.Content" rows="2"></textarea>
                                            <span asp-validation-for="@Model.AddComment.Content" class="text-danger"></span>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-sm mt-2">Submit Comment</button>
                                    </form>
                                </div>


                                <div class="comments mt-3">
                                    @foreach (var comment in review.Comments)
                                    {
                                        <div id="commentId" data-comment='@Html.Raw(@comment.Id)'></div>
                                        <div class="card bg-light mb-2">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <p class="small mb-0 text-muted justify-content-start"><strong>@comment.WriterName</strong> - @comment.CommentDate</p>
                                                    @if (User.Identity.IsAuthenticated && comment.WriterId == ViewBag.UserId)
                                                    {
                                                        <button class="btn justify-content-end" id="editCommentButton">Edit ✎</button>
                                                    }
                                                </div>
                                                <div id="editCommentForm" style="display: none;">
                                                    <form asp-action="EditComment" method="post">
                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                        <input type="hidden" asp-for="@comment.Id" name="CommentId" />
                                                        <input type="hidden" asp-for="@Model.MovieDetails.Id" name="MovieId" />
                                                        

                                                        <div class="form-group">
                                                            <label asp-for="@comment.Content">Comment</label>
                                                            <textarea class="form-control" name="Content" asp-for="@comment.Content" rows="2"></textarea>
                                                            <span asp-validation-for="@Model.AddComment.Content" class="text-danger"></span>
                                                        </div>

                                                        <button type="submit" class="btn btn-primary btn-sm mt-2">Edit</button>
                                                    </form>
                                                </div>
                                                <hr />
                                                <p class="card-text d-flex justify-content-start">@comment.Content</p>
                                                @if(User.Identity.IsAuthenticated && @comment.WriterId==ViewBag.UserId)
                                                {
                                                    <button type="submit" class="btn btn-danger d-flex justify-content-end" id="deleteCommentButton">Delete</button>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var addRemoveLike = '@Url.Action("AddRemoveLike", "Movie")';
        var addRemoveDislike = '@Url.Action("AddRemoveDislike", "Movie")';
        var removeReview = '@Url.Action("DeleteReview", "Movie")';
        var removeComment = '@Url.Action("DeleteComment", "Movie")';
    </script>
    <script src="~/js/movieDetails.js"></script>

}
