@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@model MovieViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "What Should I Watch?";
}

<div class="card-footer center-container">
    <h1>Roulette: What Should I Watch?</h1>
    @if (!User.Identity!.IsAuthenticated)
    {
        <h3 class="text-center">
            Wondering what to watch? Let Roulette, the random movie generator, pick from the FilmIdea catalog for you. Take a chance on something new with FilmIdea randomizer. Use more than FilmIdea?
            <a asp-area="Identity" asp-page="/Account/Register">Create a free FilmIdea account!</a>
        </h3>
    }
    else
    {
        <h3 class="text-center">
            Wondering what to watch? Let Roulette, the random movie generator, pick from the FilmIdea catalog for you. Take a chance on something new with FilmIdea randomizer.
        </h3>
    }
</div>

<div class="center-container mt-3">
    <div class="row">
        <div class="col-md-4 w-auto p-0">
            <div class="card position-relative">
                <a href="@Url.Action("Details", "Movie", new { movieId = Model.Id })">
                    <img style="width: 220px; height: 323px;" src="@Model.CoverPhotoUrl" class="card-img-top" alt="@Model.Title">
                </a>
            </div>
        </div>
        <div class="col-md-4 w-auto p-0">
            <div class="card position-relative">
                <div class="card-body" style="width: 370px; height: 323px;">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-font"><strong>Release Year:</strong> @Model.ReleaseYear</p>
                    <p class="card-font"><strong>Duration:</strong> @Model.Duration</p>
                    <p class="card-font">
                        <strong>Rating:</strong>@{
                                                    double rating = Convert.ToDouble(Model.Rating);

                                                    string formattedRating = (Math.Abs(rating - Math.Round(rating, 2)) > 0.001) ? rating.ToString("N1") : rating.ToString("N0");
                                                }
                        @formattedRating⭐
                    </p>
                    <p class="card-font"><strong>Description:</strong> @Model.Description</p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="center-container">
    <a asp-controller="Movie" asp-action="Roulette" class="btn btn-secondary btn-sm m-3 " data-movie="@Model.Id">
        <i class="fas fa-plus"></i> Spin Again
    </a>
</div>

    <partial name="_ValidationScriptsPartial" />


